## Pelican
Makefile
content/*
static/*

## Pelican-theme
elegant/*

## Python
__pycache__
*.py

## Mac OS X
.DS_Store

## For-bug
notes/index[0-9].html
notes/tag/3s[0-9].html
notes/author/shuto[0-9].html
notes/category/javascript[0-9].html
notes/tags/javascript[0-9].html
