## Pelican
Makefile
content/*
static/*

## Pelican-theme
elegant/*

## Python
__pycache__
*.py

## Mac OS X
.DS_Store

## For-bug
notes/index[0-9]{,3}.html
notes/tag/3s[0-9]{,3}.html
notes/author/shuto[0-9]{,3}.html
