## Pelican
Makefile
content/*
static/*
pelicanconf.py
publishconf.py
tasks.py

## Pelican-theme
elegant/*

## Python
__pycache__

## Mac OS X
.DS_Store

## For-bug
notes/index[0-9].html
notes/tag/3s[0-9].html
notes/author/shuto[0-9].html
notes/category/javascript[0-9].html
notes/tags/javascript[0-9].html
