<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Calender">
    <meta name="keywords" content="Calender, lecture, the University of Tokyo">
    <meta name="author" content="Shuto Iwasaki">

    <title>1A</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../../static/css/clean-blog.css" rel="stylesheet">
  </head>

  <body>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-black">1A calendar</h2>
            <!-- smooth page transition to more detail one. --->
            <form name="test">
              <select name="linkselect" onChange="kakunin()" class="form-control">
                <option value="">Chose semester to know more detail.</option>
                <option value="1S.html">1S</option>
                <option value="1A.html">1A</option>
                <option value="2S.html">2S</option>
                <option value="2A.html">2A</option>
              </select>
            </form>
            <hr class="light my-4">
          </div>
        </div>
      </div>
    </section>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <img class="img-fluid" src="img/1A.jpg" alt="">
            <h2 class="section-heading" id="Practice of Exercise and Health Sciences Ⅱ">Practice of Exercise and Health Sciences Ⅱ</h2>
            <p>I chose "softball" again. This time there are a lot of classmates, so more interesting than spring.</p>
            <h2 class="section-heading" id="Calculus">Calculus</h2>
            <p>We learned integral of one variable function, multivariable function, perhaps also dealed with infinite series.</p>
            <h2 class="section-heading" id="English Language (Intermediate)">English Language (Intermediate)</h2>
            <p>I did a part time job on Monday night, so it was tough for me to attend.</p>
            <h2 class="section-heading" id="Introductory Experiments I, II(Physics)">Introductory Experiments I, II(Physics)</h2>
            <p>I should have chosen "Chemistry", this time.</p>
            <h2 class="section-heading" id="FLOW">FLOW</h2>
            <p>This class aims at being a fluent in English, so we have to speak all the time in this class. It was tough for me, but thanks to kindness of my teacher and classmates, I could spent a very and very funny time.</p>
            <h2 class="section-heading" id="Basics in Chemical Bonding">Basics in Chemical Bonding</h2>
            <p>It is an entrance to quantum chemistry, so We learned "Schrödinger equation", "quantum effect", and so on. I think it is interesting and important way to view events from a quantitative viewpoint.</p>
            <h2 class="section-heading" id="Studies in Contemporary Education">Studies in Contemporary Education</h2>
            <p>We learned foreign education, and it helped me to understand why Harry entered "Hogwarts School of Witchcraft and Wizardry" when he was 11.</p>
            <h2 class="section-heading" id="Electricity and Magnetism A">Electricity and Magnetism A</h2>
            <p>All I learned from this lecture was "Maxwell equation." I don't know why I could get 92 score.</p>
            <h2 class="section-heading" id="Linear Algebra">Linear Algebra</h2>
            <p>We learned Matrix determinant, eigenvalue, and diagonalization. These are introduction to university mathematics.</p>
            <h2 class="section-heading" id="Exercise in Calculus/Linear Algebra">Exercise in Calculus/Linear Algebra</h2>
            <p>I got smarter than 1S because I exercised in the reference book, but our classmates were much smarter than me :(</p>
            <h2 class="section-heading" id="Academic Frontier Lecture Series">Academic Frontier Lecture Series</h2>
            <p>We scienced our world in femto, nano, and exa scale. Multiverse theory- contrary to "uni"verse - was interesting for me.</p>
            <h2 class="section-heading" id="Space Science I (for Natural Sciences Students)">Space Science I (for Natural Sciences Students)</h2>
            <p>We learned how we understand space even though we couldn't go there. At the time, I wanted to go to "Department of Physics."</p>
            <h2 class="section-heading" id="Chinese Language">Chinese Language</h2>
            <p>Teacher was more popular one. I don't know why my classmates speakes Chinese fluently.</p>
            <h2 class="section-heading" id="Jikkuri Sugaku">Jikkuri Sugaku</h2>
            <p>Teacher was like a god. He gave us a lot of exercises and also credit :)</p>
          </div>
          <!-- Back to the lecture page button -->
          <div class="col-lg-8 col-md-10 mx-auto text-center">
            <a href="../lecture.html" class="btn btn-secondary btn-dark active" role="button" aria-pressed="true">Back to lecture page</a>
          </div>
        </div>
      </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://mobile.twitter.com/cabernet_rock">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/iwasakishuto">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/iwasakishuto">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Shuto Iwasaki 2019</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.bundle.js"></script>
    <script>
    function kakunin(){
      obj = document.test.linkselect;

      index = obj.selectedIndex;
      if (index != 0){
        href = obj.options[index].value;
        location.href = href;
      }
    }
    </script>
  </body>

</html>
