<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Calender">
    <meta name="keywords" content="Calender, lecture, the University of Tokyo">
    <meta name="author" content="Shuto Iwasaki">

    <title>1S</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../../static/css/clean-blog.css" rel="stylesheet">
  </head>

  <body>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-black">1S calendar</h2>
            <!-- smooth page transition to more detail one. --->
            <form name="test">
              <select name="linkselect" onChange="kakunin()" class="form-control">
                <option value="">Chose semester to know more detail.</option>
                <option value="1S.html">1S</option>
                <option value="1A.html">1A</option>
                <option value="2S.html">2S</option>
                <option value="2A.html">2A</option>
                <option value="3S.html">3S</option>
              </select>
            </form>
            <hr class="light my-4">
          </div>
        </div>
      </div>
    </section>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <img class="img-fluid" src="img/1S.jpg" alt="">
            <h2 class="section-heading" id="Practice of Exercise and Health Sciences I (soft ball)">Practice of Exercise and Health Sciences I (soft ball)</h2>
            <p>I chose "softball." I was absent a few times, so score was not good :(</p>
            <h2 class="section-heading" id="ALESS">ALESS</h2>
            <p>Our group compared the coefficient of friction of five kinds of fruit skins. My report's abstruct was as follows:</p>
            <div class="box1">
              <p>In some comics and comedies, it is often seen that people slip on a banana peel. That is why many people believe that banana peel is smoothest of all kinds of fruit peels. However, it seems that there are not many people who have encountered such a scene in the real world, so we compared the ...</p>
            </div>
            <h2 class="section-heading" id="Basics of Mathematical Sciences">Basics of Mathematical Sciences</h2>
            <p>At first it was easy, but when I noticed it was getting harder, how many times I regretted not having studied hard.</p>
            <h2 class="section-heading" id="Chinese Language (Introductory)">Chinese Language (Introductory)</h2>
            <p>I was invited to this class by Kaijo friend. It was interesting but too difficult for me :(</p>
            <h2 class="section-heading" id="First-Year Seminar for Natural Sciences Students">First-Year Seminar for Natural Sciences Students</h2>
            <p>My class theme was "Science familiar wonders." I examined statistical difference between smarter people and others. (name, birth day, etc...) Interestingly, we could say that family name's alphabetical order relates to it.</p>
            <h2 class="section-heading" id="Information">Information</h2>
            <p>We learned the basic knowledge about computer. I thought I got perfect in the final exam, but the score was 79. I don't know why :(</p>
            <h2 class="section-heading" id="Thermodynamics">Thermodynamics</h2>
            <p>This broke my heart full of dreams and hope. It was too difficult for me.</p>
            <blockquote class="blockquote">Also, I didn't study so hard :(</blockquote>
            <h2 class="section-heading" id="English Language Ⅰ">English Language Ⅰ</h2>
            <p>This lecture style was same as that of high school. "Monty Hall problem" was memorable.</p>
            <h2 class="section-heading" id="Mechanics A">Mechanics A</h2>
            <p>Added rigid dynamics to what we lerned at high school Physics. Thanks to <a href="https://www.youtube.com/watch?v=YN7x_R9d8MY">Sonoda</a>, it was not so difficult for me, I remember.</p>
            <h2 class="section-heading" id="Introduction to Human Behavioral Science (for Natural Sciences Students)">Introduction to Human Behavioral Science (for Natural Sciences Students)</h2>
            <p>This lecture was very interesting to me. I learned how human beings recognize outer world, what is the recognition. Involuntary eye movement was a shocking story to me.</p>
            <h2 class="section-heading" id="Chinese Language Ⅱ">Chinese Language Ⅱ</h2>
            <p>Chinese was similar to Japanese in some aspects, so I felt like I could talk Chinese soon. However, it was a dream :)</p>
            <h2 class="section-heading" id="Exercise in Basics of Mathematical Sciences">Exercise in Basics of Mathematical Sciences</h2>
            <p>I was amazed at the mathematical ability of my classmates. It was a very exciting time to think now, but it was a painful time at that time.</p>
            <h2 class="section-heading" id="Introduction to Statistics">Introduction to Statistics</h2>
            <p>We learned a lot of probability distributions, and the ways of "testing statistical hypothesis." These knowledge is useful for my internship activity, data analysis.</p>
            <h2 class="section-heading" id="Chinese Language Ⅰ">Chinese Language Ⅰ</h2>
            <p>Same as "Chinese Language Ⅱ," but this lecture's teacher was more popular than Ⅰ's I think.</p>
          </div>
          <!-- Back to the lecture page button -->
          <div class="col-lg-8 col-md-10 mx-auto text-center">
            <a href="../lecture.html" class="btn btn-secondary btn-dark active" role="button" aria-pressed="true">Back to lecture page</a>
          </div>
        </div>
      </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a target="_blank" href="https://mobile.twitter.com/cabernet_rock">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://github.com/iwasakishuto">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://www.facebook.com/iwasakishuto">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Shuto Iwasaki 2019</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.bundle.js"></script>
    <script>
    function kakunin(){
      obj = document.test.linkselect;

      index = obj.selectedIndex;
      if (index != 0){
        href = obj.options[index].value;
        location.href = href;
      }
    }
    </script>
  </body>

</html>
