<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/atom.min.css">
    <!--
      Hi source code lover!!

      I don't want to be a YouTuber.
      I want to make a platform where people can share and learn college knowledge one another.
      If you are interested it, please get in touch with me. (Twitter: @cabernet_rock)
    -->

    <!-- SEO -->
    <title>10 minutes PRML Chapter 1</title>
    <meta name="description" content="Learn Pattern Recognition and Machine Learning in 10 minutes.">

    <!-- URL CANONICAL -->
    <!-- <link rel="canonical" href="http://your-url.com/permalink"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext" rel="stylesheet">

    <!-- CSS Base -->
    <link rel="stylesheet" type='text/css' media='all' href="prml_static/css/webslides.css">

    <!-- Optional - CSS SVG Icons (Font Awesome) -->
    <link rel="stylesheet" type="text/css" media="all" href="prml_static/css/svg-icons.css">

    <!-- SOCIAL CARDS (Open Graph protocol) -->
    <!-- FACEBOOK -->
    <meta property="og:url" content="https://iwasakishuto.github.io">
    <meta property="og:type" content="article">
    <meta property="og:title" content="10 minutes PRML Chapter 1">
    <meta property="og:description" content="Learn Pattern Recognition and Machine Learning in 10 minutes.">
    <meta property="og:image" content="prml_static/images/share-webslides.jpg" >

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@cabernet_rock">
    <meta name="twitter:title" content="10 minutes PRML Chapter 1">
    <meta name="twitter:description" content="Learn Pattern Recognition and Machine Learning in 10 minutes.">
    <meta name="twitter:image" content="prml_static/images/share-webslides.jpg">

    <!-- FAVICONS -->
    <link rel="shortcut icon" sizes="16x16" href="prml_static/images/favicons/favicon.png">
    <link rel="shortcut icon" sizes="32x32" href="prml_static/images/favicons/favicon-32.png">
    <link rel="apple-touch-icon icon" sizes="76x76" href="prml_static/images/favicons/favicon-76.png">
    <link rel="apple-touch-icon icon" sizes="120x120" href="prml_static/images/favicons/favicon-120.png">
    <link rel="apple-touch-icon icon" sizes="152x152" href="prml_static/images/favicons/favicon-152.png">
    <link rel="apple-touch-icon icon" sizes="180x180" href="prml_static/images/favicons/favicon-180.png">
    <link rel="apple-touch-icon icon" sizes="192x192" href="prml_static/images/favicons/favicon-192.png">

    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#333333">

    <!-- Syntax highlight -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/github.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- Tex -->
    <!-- Local env -->
    <!--
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    -->
    <!-- Github env -->
    <script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
        }
      });
    </script>
  </head>

  <body>
    <header role="banner">
      <nav role="navigation">
        <ul>
          <li class="github">
            <a rel="external" href="#" title="YouTube">
              <svg class="fa-youtube">
                <use xlink:href="#fa-youtube"></use>
              </svg>
              <em>Colledge Knowledge</em>
            </a>
          </li>
          <li class="twitter">
            <a rel="external" href="https://twitter.com/cabernet_rock" title="Twitter">
              <svg class="fa-twitter">
                <use xlink:href="#fa-twitter"></use>
              </svg>
              <em>@cabernet_rock</em>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main role="main">
      <article id="webslides">

        <!-- Quick Guide
          - Each parent <section> in the <article id="webslides"> element is an individual slide.
          - Vertical sliding = <article id="webslides" class="vertical">
          - <div class="wrap"> = container 90% / <div class="wrap size-50"> = 45%;
        -->

        <section class="bg-apple">
          <h1>§1 Introduction</h1>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>パターン認識とは？</h2>
                <p>パターン認識とは、<b>「人間が行っている認知活動を<font color="red">工学的に</font>実現すること」</b> です。</p>
                <ul class="flexblock">
                    <li><font size=6>画像認識</font></li>
                    <li><font size=6>言語認識</font></li>
                    <li><font size=6>音声認識</font></li>
                </ul>
                <p>
                <p>と、その対象は多岐にわたっており、<font color="red"><b>「計算機の能力の向上」</b></font>×<font color="red"><b>「デバイスの低価格化」</b></font>により、最近成長が著しい分野でもあります。</p>
              </div>
              <div class="column">
                <figure>
                  <img src="prml_static/images/Chap1/pattern_recognition.png" alt="pattern recognition">
                </figure>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="card-50">
              <figure>
                <img class="aligncenter" src="prml_static/images/Chap1/sin_data.png" alt="sin" style="background-color:white;">
              </figure>
              <div class="flex-content">
                <h2>このグラフは何？</h2>
                <p class="text-intro">$y = \sin(\ 2\pi x\ )...?$</p>
                <p>左の10点のデータを見てください。このデータはどんなグラフの上に乗っていると思いますか？</p>
                <p>おそらく多くの方が<font color="red">「sinカーブだ！」</font>と思われるでしょう。</p>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="card-50">
              <figure><img class="aligncenter" src="prml_static/images/Chap1/sin_ans.png" alt="sin" style="background-color:white;"></figure>
              <div class="flex-content">
                <h2>このグラフは何？</h2>
                <p class="text-intro"><font color="red">$y = \sin(\ 2\pi x\ )!!$</font></p>
                <p>その通り。このデータは、$y = \sin(\ 2\pi x\ )$ に少し誤差を加えて作成したデータとなっています。</p>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
              <h3>じゃあ、どうやって工学的に実現するか？</h3>
              <p>How to realize human recognition by engineering?</p>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>多項式曲線フィッティング</h2>
                <p>この問題に対する最も単純なアプローチを紹介します。</p>
                <p>それは、<font color="red"><b>「右の形で表される多項式の上にデータが乗っている」</b></font>と仮定し、係数をデータへフィッティングさせていく、という方法です。</p>
                <p>このとき、Mは多項式の<font color="red"><b>次数</b></font>を意味し、複雑さを表します。</p>
              </div>
              <div class="column">
                <p class="text-intro">多項式曲線の型$$\begin{aligned}y(x,\mathbf{w}) &= w_0 + w_1x + w_2x^2 + \cdots + w_Mx^M\\&=\sum_{j=0}^M w_jx^j\end{aligned}$$</p>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>Mの値が複雑さを決める</h2>
                <p>Mの値を変えてフィッテングさせたものが右の図になります。</p>
                <p>この図から、<font color="red"><b>Mが小さすぎても大きすぎてもうまくデータを説明できない</b></font>ことがわかります。</p>
                <p>なお、フィッティングとは、関数とデータの誤差の和を小さくする作業のことです。</p>
              </div>
              <div class="column">
                <figure>
                  <img src="prml_static/images/Chap1/Polynomial_regression.png" alt="Polynomial regression">
                </figure>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>確率論</h2>
                <p class="text-intro"><font color="red">「不確実性」</font>をどう扱うか。</p>
                <p>どんなデータも、計測ノイズやデータ集合のサイズが有限であるために、ある程度の不確実性を含んでいます。</p>
                <p>そのため、不確実性に対する定量的な評価をする必要があり、それを行うのが確率論（probability theory）です。</p>
              </div>
              <div class="column">
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>頻度主義</h2>
                <p class="text-intro">frequentist</p>
                <p>確率をランダムな繰り返し施行の頻度と捉える古典的な確率解釈。</p>
              </div>
              <div class="column">
                <h2>ベイズ</h2>
                <p class="text-intro">Bayesian</p>
                <p>不確実性の度合いを、私達の持っている何らかの知見から定量的に判断し、新たな証拠に照らしてそれを修正し、その結果として最適な理解を得る。</p>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>ベイズの定理</h2>
                <p class="text-intro">Bayes' theorem
                $$p(\mathbf{w}|D) = \frac{p(D|\mathbf{w})p(\mathbf{w})}{p(D)}$$</p>
                <ul class="description">
                  <li>
                    <span class="text-label">事前分布</span>
                    私達の持っている何らかの知見から定量的に判断
                  </li>
                  <li>
                    <span class="text-label">尤度最大化</span>
                    新たな証拠に照らしてそれを修正
                  </li>
                </ul>
              </div>
              <div class="column">
                <h2>ベイズ</h2>
                <p class="text-intro">Bayesian</p>
                <p>不確実性の度合いを、<b><font color="red">私達の持っている何らかの知見から定量的に判断</font></b>し、<b><font color="red">新たな証拠に照らしてそれを修正</font></b>し、その結果として最適な理解を得る。</p>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>ベイズの定理の理解</h2>
                <p>右の２つの確率の基本法則を用いれば、ベイズの定理は簡単に導出できます。</p>
                <ul class="description">
                  <li>
                    <span class="text-label">p(X,Y)</span>
                    同時確率。「XかつYの確率」
                  </li>
                  <li>
                    <span class="text-label">p(Y|X)</span>
                    条件付き確率。「Xが与えられた下でのYの確率」
                  </li>
                  <li>
                    <span class="text-label">p(X)</span>
                    周辺確率。「Xの確率」
                  </li>
                </ul>
              </div>
              <div class="column">
                <p class="text-intro">確率の基本法則
                $$\begin{aligned}\text{加法定理}\quad & p(X) = \sum_Yp(X,Y)\\\text{乗法定理}\quad & p(X,Y) = p(Y|X)p(X)\end{aligned}$$</p>
                <p class="text-intro">ベイズの法則
                $$p(\mathbf{w}|D) = \frac{p(D|\mathbf{w})p(\mathbf{w})}{p(D)}$$</p>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple aligncenter">
          <h2 class="text-emoji zoomIn">😊</h2>
          <h3><strong>Thank you!</strong></h2>
          <p><a href="https://twitter.com/cabernet_rock" title="@cabernet_rock on Twitter">@cabernet_rock</a></p>
        </section>

        <section class="bg-apple aligncenter">
          <!-- .wrap = container (width: 90%) -->
          <div class="wrap">
            <h2><strong>Please see my YouTube </strong></h2>
            <p class="text-intro">I'm explaining this slide.</p>
            <p>
              <a href="#" class="button" title="See YouTube">
                <svg class="fa-youtube">
                  <use xlink:href="#fa-youtube"></use>
                </svg>
                See my YouTube
              </a>
            </p>
          </div>
        </section>

      </article>
    </main>
    <!--main-->

    <!-- Required -->
    <script src="prml_static/js/webslides.js"></script>

    <script>
      window.ws = new WebSlides();
    </script>

    <!-- OPTIONAL - svg-icons.js (fontastic.me - Font Awesome as svg icons) -->
    <script defer src="prml_static/js/svg-icons.js"></script>

  </body>
</html>
