<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/atom.min.css">
    <!--
      Hi source code lover!!

      I don't want to be a YouTuber.
      I want to make a platform where people can share and learn college knowledge one another.
      If you are interested it, please get in touch with me. (Twitter: @cabernet_rock)
    -->

    <!-- SEO -->
    <title>10 minutes PRML Chapter 9</title>
    <meta name="description" content="Learn Pattern Recognition and Machine Learning in 10 minutes.">

    <!-- URL CANONICAL -->
    <!-- <link rel="canonical" href="http://your-url.com/permalink"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext" rel="stylesheet">

    <!-- CSS Base -->
    <link rel="stylesheet" type='text/css' media='all' href="prml_static/css/webslides.css">

    <!-- Optional - CSS SVG Icons (Font Awesome) -->
    <link rel="stylesheet" type="text/css" media="all" href="prml_static/css/svg-icons.css">

    <!-- SOCIAL CARDS (Open Graph protocol) -->
    <!-- FACEBOOK -->
    <meta property="og:url" content="https://iwasakishuto.github.io">
    <meta property="og:type" content="article">
    <meta property="og:title" content="10 minutes PRML Chapter 9">
    <meta property="og:description" content="Learn Pattern Recognition and Machine Learning in 10 minutes.">
    <meta property="og:image" content="prml_static/images/share-webslides.jpg" >

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@cabernet_rock">
    <meta name="twitter:title" content="10 minutes PRML Chapter 9">
    <meta name="twitter:description" content="Learn Pattern Recognition and Machine Learning in 10 minutes.">
    <meta name="twitter:image" content="prml_static/images/share-webslides.jpg">

    <!-- FAVICONS -->
    <link rel="shortcut icon" sizes="16x16" href="prml_static/images/favicons/favicon.png">
    <link rel="shortcut icon" sizes="32x32" href="prml_static/images/favicons/favicon-32.png">
    <link rel="apple-touch-icon icon" sizes="76x76" href="prml_static/images/favicons/favicon-76.png">
    <link rel="apple-touch-icon icon" sizes="120x120" href="prml_static/images/favicons/favicon-120.png">
    <link rel="apple-touch-icon icon" sizes="152x152" href="prml_static/images/favicons/favicon-152.png">
    <link rel="apple-touch-icon icon" sizes="180x180" href="prml_static/images/favicons/favicon-180.png">
    <link rel="apple-touch-icon icon" sizes="192x192" href="prml_static/images/favicons/favicon-192.png">

    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#333333">

    <!-- Syntax highlight -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/github.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- Tex -->
    <!-- Local env -->
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <!-- Github env -->
    <!--
    <script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
        }
      });
    </script>
    <!-- LaTeX で argmzx・argmin を定義する -->
    $\newcommand{\argmax}{\mathop{\rm arg~max}\limits}$
    $\newcommand{\argmin}{\mathop{\rm arg~min}\limits}$
  </head>

  <body>
    <header role="banner">
      <nav role="navigation">
        <ul>
          <li class="github">
            <a rel="external" href="#" title="YouTube">
              <svg class="fa-youtube">
                <use xlink:href="#fa-youtube"></use>
              </svg>
              <em>Colledge Knowledge</em>
            </a>
          </li>
          <li class="twitter">
            <a rel="external" href="https://twitter.com/cabernet_rock" title="Twitter">
              <svg class="fa-twitter">
                <use xlink:href="#fa-twitter"></use>
              </svg>
              <em>@cabernet_rock</em>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main role="main">
      <article id="webslides">

        <!-- Quick Guide
          - Each parent <section> in the <article id="webslides"> element is an individual slide.
          - Vertical sliding = <article id="webslides" class="vertical">
          - <div class="wrap"> = container 90% / <div class="wrap size-50"> = 45%;
        -->

        <section class="bg-apple">
          <h1>§9 Mixture Models and EM</h1>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>潜在変数</h2>
                <p class="text-intro">Latent Variables</p>
                <p>観測変数 $\mathbf{X}$ と潜在変数 $\mathbf{Z}$ の同時分布を定義すれば、周辺化によって観測変数だけの周辺分布を得ることができ、それによって比較的複雑な分布を表すことができます。</p>
                <p>また、複雑な確率分布を構成する枠組みを提供するだけでなく、混合モデルをデータのクラスタリングに使うこともできます。</p>
              </div>
              <div class="column">
                <p>この章では、そういった潜在変数を持つモデルの最尤解を求めるための一般的手法である<font color="red"><b>EMアルゴリズム(Expectation Maximization Algorithm)</b></font>について紹介します。</p>
                <p>一般にEMアルゴリズムは大域的収束性は保証しませんが、収束することは保証されているので、モデルの学習の際に利用されることが多いです。</p>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>K-means クラスタリング</h2>
                <p>$D$ 次元ユークリッド空間上の確率変数 $\mathbf{x}$ の $N$ 個の観測点で構成されるデータ集合 $\left\{\mathbf{x_1},\ldots,\mathbf{x_N}\right\}$ があるとします。</p>
                <p>ここでの目的はデータ集合を $K$ 個のクラスターに分割することです。したがって、<font color="red"><b>歪み尺度(distortion measure)</b></font>と呼ばれる目的関数
                $$J=\sum_{n=1}^{N} \sum_{k=1}^{K} r_{n k}\left\|\mathbf{x}_{n}-\boldsymbol{\mu}_{k}\right\|^{2}\qquad (9.1)$$を最小化する問題と言うことができます。</p>
              </div>
              <div class="column">
                <p>なお、$\boldsymbol{\mu}_k$ は $k$ 番目のクラスターの中心を表し、$r_{n k}$ はデータ点 $\mathbf{x}_n$ がクラスター $k$ に割り当てられる場合に $1$ それ以外の場合に $0$ をとる二値変数です。</p>
                <p>この問題を解くには、
                  <li>$\boldsymbol{\mu}_k$ を固定しつつ $r_{n k}$ について $J$ を最小化する。</li>
                  <li>$r_{n k}$ を固定しつつ $\boldsymbol{\mu}_k$ について $J$ を最小化する。</li>
                </p>
                <p>という二段階最適化問題を収束するまで繰り返すことになります。</p>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>K-means</h2>
                <p class="text-intro">Eステップ</p>
                <p>$$J=\sum_{n=1}^{N} \sum_{k=1}^{K} r_{n k}\left\|\mathbf{x}_{n}-\boldsymbol{\mu}_{k}\right\|^{2}\qquad (9.1)$$は $$r_{nk} について線形の関数なので、最適化は代数的に解くことができます。</p>
                <p>つまり、各 $n$ について独立に $\|\mathbf{x}_n - \boldsymbol{\mu}_k\|$ が最小となるクラスタに対して $r_{nk} = 1$ とすれば良いことになります。</p>
              </div>
              <div class="column">
                <p class="text-intro">Mステップ</p>
                <p>$J$ は $\boldsymbol{\mu}_k$ の二次関数なので、$\boldsymbol{\mu}_k$ に関する $J$ の偏微分
                $$2 \sum_{n=1}^{N} r_{n k}\left(\mathbf{x}_{n}-\boldsymbol{\mu}_{k}\right)=0\qquad (9.3)$$を解くことで求まり、
                $$\boldsymbol{\mu}_{k}=\frac{\sum_{n} r_{n k} \mathbf{x}_{n}}{\sum_{n} r_{n k}}\qquad (9.4)$$</p>
                <p>したがって、$k$ 番目のクラスターに割り当てられたデータ点 $\mathbf{x}$ の平均を $\boldsymbol{\mu}_k$ とすれば良いことになります。</p>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>K-means</h2>
                <p>以上の繰り返しを、クラスターの再割り当てが起きなくなるまで繰り返します。各フェーズは対象関数 $J$ の値を減少させるので、このアルゴリズムの収束は保証されています。（ $r_{nk}$ の割り当ては高々有限通りであり、鳩の巣原理から証明可能。）</p>
                <p>また、先ほどの $J$ ではデータ点と $\boldsymbol{\mu}_k$ の非類似度として二乗ユークリッド誤差を利用していましたが、これだと外れ値に対して過敏になってしまうことが問題としてあげられます。</p>
              </div>
              <div class="column">
                <p>したがって、より一般的な非類似度 $\mathcal{V}\left(\mathbf{x}_{n}, \boldsymbol{\mu}_{k}\right)$ を導入し、
                $$\widetilde{J}=\sum_{n=1}^{N} \sum_{k=1}^{K} r_{n k} \mathcal{V}\left(\mathbf{x}_{n}, \boldsymbol{\mu}_{k}\right)\qquad (9.6)$$を最小化するより一般的な K-means クラスタリングを利用することもあります。</p>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>K-means の応用</h2>
                <p class="text-intro">画像のセグメンテーション</p>
                <p>K-means を画像に適用することで画像の圧縮を行うことができることを紹介します。</p>
                <p>原画像が{R,G,B}の各 8 bit(0~255) の値からなる N 個の画素を持つと仮定すると、画像全体を送信するのに 24N bit 必要なことになります。</p>
              </div>
              <div class="column">
                <p>この画像の各画素に対して K-means を行い、各画素を K 個の代表ベクトル $\boldsymbol{\mu_k}$ で置き換えると(K色のパレットを用いると言うこと)、1画素あたり $\log_2 K$ bit で済むことになり、K 個の代表ベクトルの色を表すために必要な24K bitと合わせて 24K + N $\log_2 K$ bit で画像全体を送信できることになります。</p>
                <p>この手法は、画素の空間的な位置関係を無視しているので良い画像分割の方法とは言えませんが、画像圧縮においてかなりの威力を発揮します。</p>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>K-means の応用</h2>
                <p class="text-intro">画像のセグメンテーション</p>
                <figure>
                  <img src="prml_static/images/Chap9/serial connection.png" alt="serial connection">
                </figure>
              </div>
              <div class="column">
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>混合ガウス分布</h2>
                <p class="text-intro">Gaussian mixture model</p>
                <p>Chap2 では、ガウス分布の単純な線形重ね合わせとして混合ガウス分布を導入しましたが、単一のガウス分布よりも豊かな確率密度のモデルを作成することが出来ました。</p>
                <p>ここでは、離散的な潜在変数を用いた混合ガウス分布の定式化を行います。</p>
              </div>
              <div class="column">
                <p>まず、$K$ 次元の２値確率変数(1-of-K 符号化法) $\mathbf{z}$ を導入します。$z_k\in\{0,1\}$ は $\sum_k z_k = 1$ を満たすため、$0$ でない要素がどれかに応じて、ベクトル $\mathbf{z}$ は $K$ 種類の状態を取ります。</p>
                <p>それでは、周辺分布 $p(\mathbf{z})$ 条件付き分布 $p(\mathbf{x}|k\mathbf{z})$ を考え、それらを用いて同時分布 $p(\mathbf{x},\mathbf{z})$ を定義します。これを $\mathbf{z}$ に関して周辺化する事でデータ $\mathbf{x}$ の分布 $p(\mathbf{x})$ を表すことが出来ます。</p>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2></h2>
                <p class="text-intro"></p>
              </div>
              <div class="column">
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2></h2>
                <p class="text-intro"></p>
              </div>
              <div class="column">
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2></h2>
                <p class="text-intro"></p>
              </div>
              <div class="column">
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2></h2>
                <p class="text-intro"></p>
              </div>
              <div class="column">
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2></h2>
                <p class="text-intro"></p>
              </div>
              <div class="column">
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2></h2>
                <p class="text-intro"></p>
              </div>
              <div class="column">
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2></h2>
                <p class="text-intro"></p>
              </div>
              <div class="column">
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple aligncenter">
          <h2 class="text-emoji zoomIn">😊</h2>
          <h3><strong>Thank you!</strong></h2>
          <p><a href="https://twitter.com/cabernet_rock" title="@cabernet_rock on Twitter">@cabernet_rock</a></p>
        </section>

        <section class="bg-apple aligncenter">
          <!-- .wrap = container (width: 90%) -->
          <div class="wrap">
            <h2><strong>Please see my YouTube </strong></h2>
            <p class="text-intro">I'm explaining this slide.</p>
            <p>
              <a href="#" class="button" title="See YouTube">
                <svg class="fa-youtube">
                  <use xlink:href="#fa-youtube"></use>
                </svg>
                See my YouTube
              </a>
            </p>
          </div>
        </section>

      </article>
    </main>
    <!--main-->

    <!-- Required -->
    <script src="prml_static/js/webslides.js"></script>

    <script>
      window.ws = new WebSlides();
    </script>

    <!-- OPTIONAL - svg-icons.js (fontastic.me - Font Awesome as svg icons) -->
    <script defer src="prml_static/js/svg-icons.js"></script>

  </body>
</html>
