<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/atom.min.css">
    <!--
      Hi source code lover!!

      I don't want to be a YouTuber.
      I want to make a platform where people can share and learn college knowledge one another.
      If you are interested it, please get in touch with me. (Twitter: @cabernet_rock)
    -->

    <!-- SEO -->
    <title>10 minutes PRML Extension 1</title>
    <meta name="description" content="Learn Pattern Recognition and Machine Learning in 10 minutes.">

    <!-- URL CANONICAL -->
    <!-- <link rel="canonical" href="http://your-url.com/permalink"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext" rel="stylesheet">

    <!-- CSS Base -->
    <link rel="stylesheet" type='text/css' media='all' href="prml_static/css/webslides.css">

    <!-- Optional - CSS SVG Icons (Font Awesome) -->
    <link rel="stylesheet" type="text/css" media="all" href="prml_static/css/svg-icons.css">

    <!-- SOCIAL CARDS (Open Graph protocol) -->
    <!-- FACEBOOK -->
    <meta property="og:url" content="https://iwasakishuto.github.io">
    <meta property="og:type" content="article">
    <meta property="og:title" content="10 minutes PRML Extension 1">
    <meta property="og:description" content="Learn Pattern Recognition and Machine Learning in 10 minutes.">
    <meta property="og:image" content="prml_static/images/share-webslides.jpg" >

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@cabernet_rock">
    <meta name="twitter:title" content="10 minutes Extension 1">
    <meta name="twitter:description" content="Learn Pattern Recognition and Machine Learning in 10 minutes.">
    <meta name="twitter:image" content="prml_static/images/share-webslides.jpg">

    <!-- FAVICONS -->
    <link rel="shortcut icon" sizes="16x16" href="prml_static/images/favicons/favicon.png">
    <link rel="shortcut icon" sizes="32x32" href="prml_static/images/favicons/favicon-32.png">
    <link rel="apple-touch-icon icon" sizes="76x76" href="prml_static/images/favicons/favicon-76.png">
    <link rel="apple-touch-icon icon" sizes="120x120" href="prml_static/images/favicons/favicon-120.png">
    <link rel="apple-touch-icon icon" sizes="152x152" href="prml_static/images/favicons/favicon-152.png">
    <link rel="apple-touch-icon icon" sizes="180x180" href="prml_static/images/favicons/favicon-180.png">
    <link rel="apple-touch-icon icon" sizes="192x192" href="prml_static/images/favicons/favicon-192.png">

    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#333333">

    <!-- Syntax highlight -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/github.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- Tex -->
    <!-- Local env -->
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <!-- Github env -->
    <!--
    <script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
        }
      });
    </script>
  </head>

  <body>
    <header role="banner">
      <nav role="navigation">
        <ul>
          <li class="github">
            <a rel="external" href="#" title="YouTube">
              <svg class="fa-youtube">
                <use xlink:href="#fa-youtube"></use>
              </svg>
              <em>Colledge Knowledge</em>
            </a>
          </li>
          <li class="twitter">
            <a rel="external" href="https://twitter.com/cabernet_rock" title="Twitter">
              <svg class="fa-twitter">
                <use xlink:href="#fa-twitter"></use>
              </svg>
              <em>@cabernet_rock</em>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main role="main">
      <article id="webslides">

        <!-- Quick Guide
          - Each parent <section> in the <article id="webslides"> element is an individual slide.
          - Vertical sliding = <article id="webslides" class="vertical">
          - <div class="wrap"> = container 90% / <div class="wrap size-50"> = 45%;
        -->

        <section class="bg-apple">
          <h1>§ex.1 Convolutional Neural Network</h1>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>CNN</h2>
                <p class="text-intro">Convolutional Neural Network</p>
                <p>Chap.5 で説明したニューラルネットワークでは、各層の繋がりは全結合でした。つまり、<font color="red"><b>データは一次元に変形され、全ての入力データを同等のニューロンとして扱っていました。</b></font></p>
                <p>しかしこの場合、<font color="red"><b>データの形状が無視されてしまう</b></font>という欠点があります。</p>
                <p>例えば入力データが画像の場合、画像は「縦・横・チャンネル」の三次元の形状であり、この形状には重要な空間的情報が含まれていました。</p>
              </div>
              <div class="column">
                <li>空間的に近いピクセルは似たような値を持つ。</li>
                <li>RGBの各チャンネル間には密接な関連性がある。</li>
                <li>距離の離れたピクセル同士にはあまり関連性はない。</li>
                <li>位置のズレにあまり意味がない。</li>
                <p>などが、その例です。</p>
                <p>中でも、以下の図がどれも「◯」を表していることから、<font color="red"><b>「位置のズレ」</b></font>に対するロバスト性を持つことが重要であることがわかります。</p>
                <figure>
                  <img src="prml_static/images/Ext1/image_spatial_info.png" alt="image_spatial_info">
                </figure>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>畳み込み層</h2>
                <p class="text-intro">Convolutional layer</p>
                <p>そこで、新たに<font color="red"><b>「畳み込み層(Convolutional layer)」</b></font>（と「プーリング層(Pooling layer)」）を追加した<font color="red"><b>CNN(Convolutional Neural Network)</b></font>を考えることで、この問題に対処します。</p>
                <p>これは、目の<font color="red"><b>受容野</b></font>の役割を模したもので、入力データを多次元のデータとして（<font color="red"><b>空間的特徴を保持したまま</b></font>）受け取り、同じく多次元のデータとして次の層にデータを出力します。</p>
                <p>この手法は画像以外に音声や動画の解析などにも利用されています。</p>
              </div>
              <div class="column">
                <p>とはいえ、動画は画像フレームの積み重なりであり、音声は以下のように波長データにメル周波数をかけて<font color="red"><b>メルスペクトログラム(Melspectrogram)</b></font>に変換する手法がよく用いられるので、ここでは画像認識に焦点を絞って説明を続けます。</p>
                <figure>
                  <img src="prml_static/images/Ext1/melspectrogram.png" alt="melspectrogram">
                </figure>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>畳み込み層</h2>
                <p class="text-intro">Convolutional layer</p>
                <p>それでは、具体的にCNNがどのようにして空間的情報を保持するかについて説明します。</p>
                <p>例として、書いてある図形が「◯」か「×」かを判定するタスクを考えます。</p>
                <p>ここで、通常のニューラルネットワークを用いて分類を行う場合、以下のようになります。</p>
                <figure>
                  <img src="prml_static/images/Ext1/Neural_Network.png" alt="Neural_Network">
                </figure>
              </div>
              <div class="column">
                <p>すると、入力データを一次元のデータとして扱うため、少し位置がずれると判定に大きな影響が出ることがわかります。</p>
                <figure>
                  <img src="prml_static/images/Ext1/Neural_Network2.png" alt="Neural_Network2">
                </figure>
                <p>やはり、ニューラルネットワークを用いた分類は難しそうです。</p>
                <p>しかしここで、これらの青い四角の中には<font color="red"><b>概ね「右上から左下にかけて黒」という傾向がある</b></font>ことに気づきます。</p>
                <p>つまり、<font color="red"><b>一ピクセルではなく、ある程度の広さの領域をまとめて入力にする</b></font>ことができれば、より精度の高い判定ができそうです。</p>
                <p>この、<font color="red"><b>ある程度の広さの領域をまとめて入力にする</b></font>という手法が受容野の仕組みです。</p>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>畳み込み演算</h2>
                <p class="text-intro">convolution</p>
                <p>ここで、<font color="red"><b>どのようにしてある程度の広さの領域をまとめて入力にするか</b></font>が問題になります。この問題を解決するのがCNN特有の<font color="red"><b>「畳み込み演算」</b></font>です。</p>
                <p>下図のように、画像上に<font color="red"><b>フィルタ(カーネル)</b></font>と呼ばれる小領域を取り、これを一つの特徴量として圧縮します。</p>
                <figure>
                  <img src="prml_static/images/Ext1/convolution.png" alt="convolution" width="30%">
                </figure>
              </div>
              <div class="column">
                <p>この処理を、フィルタをずらしながら行います。下図の場合、ずらす距離(<font color="red"><b>ストライド</b></font>)を2として畳み込み演算をしています。</p>
                <figure>
                  <img src="prml_static/images/Ext1/convolution2.png" alt="convolution2">
                </figure>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>畳み込み演算</h2>
                <p class="text-intro">convolution</p>
                <p>したがって、先ほどのニューラルネットワークとCNNを比較すると、次のようになります。</p>
                <p>NN</p>
                <figure>
                  <img src="prml_static/images/Ext1/Neural_Network.png" alt="Neural_Network">
                </figure>
              </div>
              <div class="column">
                <p>CNN</p>
                <figure>
                  <img src="prml_static/images/Ext1/Convolutional_Neural_Network.png" alt="Neural_Network">
                </figure>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>畳み込み演算</h2>
                <p class="text-intro">convolution</p>
                <p>この、フィルタを使った<font color="red"><b>「畳み込む」</b></font>という処理は、具体的には<font color="red"><b>「フィルタ内の画像ベクトル」と「畳み込みに使用するベクトル」との内積</b></font>を行うことになります。</p>
                <p>右図では 32×32×3 の画像( 32×32 のRGB画像)に対して 5×5×3 のフィルタを適用した(スライド幅=1)結果、28×28×1 のレイヤが生成されています。</p>
                <p>この時、使用するフィルタの数を増やせば、その分出力されるレイヤも増えることになります。</p>
              </div>
              <div class="column">
                <figure>
                  <img src="prml_static/images/Ext1/convolution3.png" alt="convolution3">
                </figure>
                <p>この時、<font color="red"><b>畳み込みによって「新しい画像(特徴マップ)」を作っている</b></font>と言う見方もできます。実際、中間層の出力を取り出す事で、それらを調べることも可能です。</p>
                <p>一般に、<font color="red"><b>手前の層ではシンプルな特徴を、奥の層では複雑な特徴を拾っている</b></font>と言われています。</p>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>フィルタの設定</h2>
                <p class="text-intro">filter</p>
                <p>ニューラルネットワークで学習していた<font color="red"><b>各ノードに対する重み</b></font>が、CNNでは<font color="red"><b>フィルター(カーネル)の係数</b></font>に置き換わります。</p>
                <p>簡単のために画像を各ピクセルの値で表すと、右の図のようになります。うまく特徴量を抽出できるようなカーネル係数を学習によって求めることになります。</p>
                <p>なお、学習の結果値が求まったカーネルの係数を可視化することでも、モデルへの洞察を得る事ができます。</p>
              </div>
              <div class="column">
                <figure>
                  <img src="prml_static/images/Ext1/kernel.png" alt="kerne">
                </figure>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>フィルタの設定</h2>
                <p class="text-intro">filter</p>
                <p>畳み込みに使用するフィルタについて、設定しなければならないパラメータが以下の4つです。</p>
                <li>フィルタの数: FN</li>
                <li>フィルタサイズ: (FH,FW)</li>
                <li>パディング(padding): P</li>
                <li>ストライド(stride): S</li>
                <p>また、ここで同様に入力サイズを(H,W)、出力サイズを(OH,OW)と定義しておきます。</p>
              </div>
              <div class="column">
                <p>すると、以下の等式が成り立つことになります。CNNを設計する際には、この関係を踏まえて各パラメータを調整する必要があります。
                $$\begin{aligned}
                \mathrm{OH}
                & = \frac{\mathrm{H} + 2\mathrm{P} - \mathrm{FH}}{\mathrm{S}} + 1\\
                \mathrm{OW}
                & = \frac{\mathrm{W} + 2\mathrm{P} - \mathrm{FW}}{\mathrm{S}} + 1\\
                \end{aligned}$$</p>
                <p>また、当然ですが、各パラメータは整数なので、<font color="red"><b>OHが整数になるようにストライドやパディングを調整する必要がある</b></font>ことにも注意してください。</p>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>パディング</h2>
                <p class="text-intro">padding</p>
                <p><font color="red"><b>パディング(padding)</b></font>は、右図のように画像の端の領域を 0 で埋める処理のことです。</p>
                <p>この処理を行う理由はいくつかありますが、</p>
                <li>畳み込み計算のたびに画像の縮小を防ぐこと。</li>
                <li>画像の端の領域が他の領域に比べて畳み込まれる回数が少なくなるのを防ぐこと。</li>
                <p>が主な理由として挙げられます。</p>
              </div>
              <div class="column">
                <figure>
                  <img src="prml_static/images/Ext1/padding.png" alt="padding">
                </figure>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>プーリング</h2>
                <p class="text-intro">pooling</p>
                <p><font color="red"><b>プーリング(pooling)</b></font>とは、<font color="red"><b>畳み込み後の出力画像を縮小すること</b></font>です。</p>
                <p>この処理を行う理由としては、</p>
                <li><font color="red"><b>画面に映る対象物の位置ズレや形の歪みに対して頑健なモデルになる</b></font>こと。</li>
                <li>計算量を少なくすること。(Poolingは学習が不要)</li>
                <p>が挙げられます。</p>
              </div>
              <div class="column">
                <figure>
                  <img src="prml_static/images/Ext1/pooling.png" alt="pooling">
                </figure>
                <p>上の図の処理を実現する方法としては、<font color="red"><b>MaxPooling</b></font>がよく使われます。これは、各エリアにおける最大値を、そのエリアの値として利用する手法です。</p>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>誤差逆伝播</h2>
                <p class="text-intro">back propagation</p>
                <p>まず、畳み込み層で行なっている計算を数式化します。</p>
              </div>
              <div class="column">
                <figure>
                  <img src="prml_static/images/Ext1/cnn_backpropagation.png" alt="pooling" style="background-color:white;">
                </figure>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>単純パーセプトロン</h2>
                <p class="text-intro">perceptron</p>
              </div>
              <div class="column">
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>単純パーセプトロン</h2>
                <p class="text-intro">perceptron</p>
              </div>
              <div class="column">
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>単純パーセプトロン</h2>
                <p class="text-intro">perceptron</p>
              </div>
              <div class="column">
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>単純パーセプトロン</h2>
                <p class="text-intro">perceptron</p>
              </div>
              <div class="column">
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>単純パーセプトロン</h2>
                <p class="text-intro">perceptron</p>
              </div>
              <div class="column">
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple">
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h2>単純パーセプトロン</h2>
                <p class="text-intro">perceptron</p>
              </div>
              <div class="column">
              </div>
            </div>
          </div>
        </section>

        <section class="bg-apple aligncenter">
          <h2 class="text-emoji zoomIn">😊</h2>
          <h3><strong>Thank you!</strong></h2>
          <p><a href="https://twitter.com/cabernet_rock" title="@cabernet_rock on Twitter">@cabernet_rock</a></p>
        </section>

        <section class="bg-apple aligncenter">
          <!-- .wrap = container (width: 90%) -->
          <div class="wrap">
            <h2><strong>Please see my YouTube </strong></h2>
            <p class="text-intro">I'm explaining this slide.</p>
            <p>
              <a href="#" class="button" title="See YouTube">
                <svg class="fa-youtube">
                  <use xlink:href="#fa-youtube"></use>
                </svg>
                See my YouTube
              </a>
            </p>
          </div>
        </section>

      </article>
    </main>
    <!--main-->

    <!-- Required -->
    <script src="prml_static/js/webslides.js"></script>

    <script>
      window.ws = new WebSlides();
    </script>

    <!-- OPTIONAL - svg-icons.js (fontastic.me - Font Awesome as svg icons) -->
    <script defer src="prml_static/js/svg-icons.js"></script>

  </body>
</html>
