<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Initial commit">
    <meta name="author" content="Shuto Iwasaki">

    <title>Initial commit</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../../static/css/clean-blog.css" rel="stylesheet">
  </head>

  <body>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/header/20181231.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Initial commit</h1>
              <h2 class="subheading">Why I start this blog</h2>
              <span class="meta">Posted on December 31, 2018</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <code>
              $ mkdir iwasakishuto.github.io<br>
              $ cd iwasakishuto.github.io<br>
              $ git init<br>
              $ …………<br>
              $ vi post20181231.html<br>
              $ git add post20181231.html<br>
              $ git commit -m "initial commit"<br>
              $ git push<br>
            </code>
            <h2 class="section-heading">Self-introduction</h2>
            <p>Hi, my name is Shuto Iwasaki. I’m a sophomore majoring Bioinformatics. I’m curious about machine learning, and the influence of the gene, so I’m now studying both of them. In the future, I would like to make some models, in particular HMM(Hidden Markov Model) with my knowledge of biology to predict where are the important regions in the very large amount of base sequences.</p>

            <h2 class="section-heading">Why I start this blog</h2>

            <p>There are two reasons.</p>

            <h3>- First reason</h3>

            <p>The header picture's comment influenced me so much. I am a big worrier, and hate to show my weaknesses, so I always prepare too much, and aim to be perfect. However, there were a lots and lots of people who were greater than me in the University of Tokyo, so I lost confidence, in other words, I was bothered by the "Todai Caste." At that time, I encountered this phrase, and it saved me. I felt I got a permission to speak from an imperfect position. After I present my skills, works, and interests, many people turned their attention to me, and I could get a lot of chances to communicate with engineers who have an amazing skills. In summary, I thought "Say nothing is as good as dead." That's why I made this website.</p>

            <h3>- Second reason</h3>

            <p>One of my frinds has his website, and he said that "this is for my child." It made me realize that "even though no one could be a perfect human by oneself (∵ time is finite), one might be by teaching one another with others." This is the second reason.</p>

            <h2 class="section-heading">Why I write in English</h2>

            <p>There are too many reasons, so I write the biggest one.</p>

            <p>Many people say that machine could understand Natural Language, like <a href="https://github.com/google-research/bert">BERT</a>. I admit it will come true eventually, but it may take a couple of years to be the world, so we should acquire an ability to communicate in English now. In addition, I love speaking English, because English makes me cheerful, so I want to be fluent in English. My <a href="../lecture/1A.html#FLOW">FLOW</a> teacher, Bueno Alex Falcon said to me that "the more you speak English, the better you speak English," so I trust him and using English now. </p>

            <blockquote class="blockquote">Notes: This blog will be updated irregularly.</blockquote>

          </div>
          <!-- Pager -->
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="clearfix">
              <!-- Back to the lecture page button -->
              <a class="btn btn-success float-left" href="#">&larr; Back</a>
              <a class="btn btn-warning float-left" href="../blog.html" >Home</a>
              <a class="btn btn-primary float-left" href="post20190101.html">Next &rarr;</a>
            </div>
          </div>
        </div>
      </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a target="_blank" href="https://mobile.twitter.com/cabernet_rock">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://github.com/iwasakishuto">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://www.facebook.com/iwasakishuto">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Shuto Iwasaki 2019</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.bundle.js"></script>

  </body>

</html>
