<!DOCTYPE html>
<!--
ここに何か書くの面白いし、趣味が合う人だけへのメッセージになるので、そのうちやりたいとは思っている。
-->
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="岩崎修登の講義内容">
    <meta name="keywords" content="東京大学, 生物情報科学科">
    <meta name="author" content="shuto">

    <title>PRML</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts and fontawesome icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- favicon: icon for iPhone-->
    <link rel="apple-touch-icon" href="../static/img/icon/apple-touch-icon-152x152.png" sizes="152x152">
    <!-- Custom styles for this template -->
    <link href="../static/css/creative.css" rel="stylesheet">

  </head>

  <body>

    <section class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Pattern Recognition and Machine Learning</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">
              The official name is "Pattern Recognition and Machine Learning". This book attracted me to DL and ML world!! You can download original book free from <a href="https://www.microsoft.com/en-us/research/people/cmbishop/#!prml-book">here.</a><br>
              I'm now looking into implementation, so if I have enough time, I will summarize and reproduce it by Python.
            </p>
          </div>

          <!-- PRML brief introduction table --->
          <div class="container-fluid">
            <div class="col-md-12 mx-auto text-center">
              <table class="table table-hover">
                <thead>
                  <tr class="table-active">
                    <th>#</th>
                    <th>Title</th>
                    <th>Brief content</a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-warning">
                    <td>1</td>
                    <td>Introduction</td>
                    <td>what the "Pattern Recognition" is about. It is <b>"realizing human cognitive activities by engineering method."</b></td>
                  </tr>
                  <tr class="table-warning">
                    <td>2</td>
                    <td>Probability Distributions</td>
                    <td>Exploration of some particular examples of probability distributions and their properties.</td>
                  </tr>
                  <tr class="table-warning">
                    <td>3</td>
                    <td>Linear Models for Regression</td>
                    <td>Start with the simplest form of linear regression models.</td>
                  </tr>
                  <tr class="table-warning">
                    <td>4</td>
                    <td>Linear Models for Classification</td>
                    <td>Introduction abou simplest classification methods. "Classigication" and "Regression" are 2 big genres.</td>
                  </tr>
                  <tr class="table-warning">
                    <td>5</td>
                    <td>Neural Networks</td>
                    <td>How to fit models to the data in Neural Network. We use <b>"backpropagation"</b>, and this method reduces computational complexity.</td>
                  </tr>
                  <tr class="table-warning">
                    <td>6</td>
                    <td>Kernel Methon</td>
                    <td>Kernel Methon realize <b>"infinite dimensional Neural Network"</b>, because computational complexity only depends on data sizes.</td>
                  </tr>
                  <tr class="table-warning">
                    <td>7</td>
                    <td>Sparse Kernel Machines</td>
                    <td>Based on the concept of <b>"maximizing margin"</b>, think <b>directly</b> of discrimination surface.</td>
                  </tr>
                  <tr class="table-warning">
                    <td>8</td>
                    <td>Graphical Models</td>
                    <td>Graphical model is a representation of the probability distribution using a <b>"directed graph"</b> or an <b>"undirected graph"</b>.
          In this case, the structure of the conditional independence of the probability distribution can be expressed as a graph structure.</td>
                  </tr>
                  <tr class="table-warning">
                    <td>9</td>
                    <td>Mixture Models and EM</td>
                    <td>If the probability distribution is complex, we can't calcurate some parameters directly, so we <b>"Maximize the Expectation"</b> repeatedly, to calcurate it.</td>
                  </tr>
                  <tr class="table-warning">
                    <td>10</td>
                    <td>Approximate Inference</td>
                    <td>It is often the case that we can't calcurate analytically, so we have to use approximate inference as possible as accurate.</td>
                  </tr>
                  <tr class="table-warning">
                    <td>11</td>
                    <td>Sampling Methods</td>
                    <td>It is one of the approximate way for calcurating probability distribution. If we have enough time and machine power we can approximate with arbitrary precision.</td>
                  </tr>
                  <tr class="table-warning">
                    <td>12</td>
                    <td>Continuous Latent Variables</td>
                    <td>This chapter shows Principal Component Analysis. We can know some clasters of data by enginerring method.</td>
                  </tr>
                  <tr class="table-warning">
                    <td>13</td>
                    <td>Sequential Data</td>
                    <td>We learn Markov model, and HMM. It is useful for DNA sequention models and other models. I think this chapter is little bit different from other chapters.</td>
                  </tr>
                  <tr class="table-warning">
                    <td>14</td>
                    <td>Combining Models</td>
                    <td>We combine some models by vote or mean, so that we can predict data more accuratly.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Back to the lecture page button -->
            <div class="col-lg-8 col-md-10 mx-auto text-center">
              <a href="../index.html" class="btn btn-secondary btn-dark active" role="button" aria-pressed="true">Back to Home</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="bg-dark text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's study PRML together!</h2>
            <hr class="my-4">
            <p class="mb-5">
              I am studying PRML with students in the University of Tokyo now, so if you are inretested in it, please let me know.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-4 mx-auto text-center">
            <i class="fab fa-twitter fa-3x mb-3 sr-contact-2"></i>
            <p><a href="https://mobile.twitter.com/cabernet_rock">twitter@cabernet_rock</a>
          </div>
          <div class="col-lg-3 col-sm-4 mx-auto text-center">
            <i class="fab fa-github fa-3x mb-3 sr-contact-2"></i>
            <p><a href="https://github.com/iwasakishuto">iwasakishuto</a></p>
          </div>
          <div class="col-lg-3 col-sm-4 mx-auto text-center">
            <i class="fab fa-facebook-square fa-3x mb-3 sr-contact-2"></i>
            <p><a href="https://www.facebook.com/iwasakishuto">Shuto Iwasaki</a></p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript  -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.js"></script>
    <script src="../static/js/scrollreveal.js"></script>
    <script src="../static/js/jquery.magnific-popup.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/creative.js"></script>
    <!-- CSS only for this html -->
    <style>
    .text-faded {
      background-color: rgba(245, 236, 206, 0.7);
      color: #000000;
    }
    </style>
  </body>

</html>
