<!DOCTYPE html>
<!--
ここに何か書くの面白いし、趣味が合う人だけへのメッセージになるので、そのうちやりたいとは思っている。
-->
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="岩崎修登のQiita記事">
    <meta name="keywords" content="機械学習,AI,アルゴリズム">
    <meta name="author" content="shuto">

    <title>Shuto's qiita articles</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts and fontawesome icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- favicon: icon for iPhone-->
    <link rel="apple-touch-icon" href="../static/img/icon/apple-touch-icon-152x152.png" sizes="152x152">
  </head>

  <body>

    <section class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Qiita articles</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">What I learn about informatics and programming is heare.</p>
          </div>

          <!-- Qiita article introduction table --->
          <div class="container-fluid">
        		<div class="col-md-12">
        			<table class="table table-hover">
        				<thead>
        					<tr class="table-active">
        						<th>#</th>
        						<th>Title</th>
        						<th>YYYY.MM.DD</th>
                    <th>key words</th>
        						<th>Content</th>
        					</tr>
        				</thead>
        				<tbody>
        					<tr class="table-success">
        						<td>1</td>
        						<td><a herf="https://qiita.com/cabernet_rock/items/852fc7c5d382fdc422a3">【Flask+uWSGI+Nginx+AWSでWebアプリケーション作成】</a></td>
        						<td>2018.10.25</td>
                    <td>nginx, AWS, Flask, Ajax, uwsgi</td>
        						<td>How to make flask web app. I learned it from seniors at my workplace, DA. Thanks to him, I can make <a herf="http://www.arashirecognition.com">"Arashi_recognition"</a>.</td>
        					</tr>
        					<tr class="table-success">
        						<td>2</td>
        						<td><a herf="https://qiita.com/cabernet_rock/items/50f955afc16287244154">graphillionを使ってみた</a></td>
        						<td>2018.11.10</td>
                    <td>Python, grapillion, ZDD, Binary tree</td>
        						<td>This shows a sample code about <a herf="https://github.com/takemaru/graphillion">"graphillion"</a> which I learn from "Introduction to bioinformatics Ⅰ", lecture in University of Tokyo.</td>
        					</tr>
                  <tr class="table-success">
        						<td>3</td>
        						<td><a herf="https://qiita.com/cabernet_rock/items/01c48dd06178ba0768f9">ZDDを自作して数え上げお姉さんを救ってみた</a></td>
        						<td>2018.11.13</td>
                    <td>Python, grapillion, ZDD, Binary tree</td>
        						<td>This is how to realize ZDD in Python. It tells you more about <a herf="https://github.com/takemaru/graphillion">"graphillion"</a>.</td>
        					</tr>
                  <tr class="table-success">
        						<td>4</td>
        						<td><a herf="https://qiita.com/cabernet_rock/items/526d06a7993dfb61b75f">pythonで総当たりの試合表を作成する（並列処理）</a></td>
        						<td>2018.11.18</td>
        						<td>Python, Multiple processing</td>
                    <td>It is neccesary skill for python users to deal with multiple processing (∵ Python speed is lower than Functional language), so it tells you how to realize multiple processing.</td>
        					</tr>
                  <tr class="table-success">
        						<td>5</td>
        						<td><a herf="https://qiita.com/cabernet_rock/items/a5f659f3fa4b89c4cc0e">身体で覚えるポインタ型 〜Pointer Stew〜</a></td>
        						<td>2018.11.24</td>
        						<td>C, Pointer</td>
                    <td>This article explain about "pointer", which is most difficult in C.</td>
        					</tr>
        				</tbody>
        			</table>
        		</div>
        	</div>
        </div>
      </div>
    </section>

    <section id="contact" class="bg-dark text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">If you are inretested in what I made, please get in touch with me.
              <br>I want to make something more marvelous things!!
              <br>Please help me and let's enjoy engineering!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-4 mx-auto text-center">
            <i class="fab fa-twitter fa-3x mb-3 sr-contact-2"></i>
            <p><a href="https://mobile.twitter.com/cabernet_rock">twitter@cabernet_rock</a>
          </div>
          <div class="col-lg-3 col-sm-4 mx-auto text-center">
            <i class="fab fa-github fa-3x mb-3 sr-contact-2"></i>
            <p><a href="https://github.com/iwasakishuto">iwasakishuto</a></p>
          </div>
          <div class="col-lg-3 col-sm-4 mx-auto text-center">
            <i class="fab fa-facebook-square fa-3x mb-3 sr-contact-2"></i>
            <p><a href="https://www.facebook.com/iwasakishuto">Shuto Iwasaki</a></p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript  -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.js"></script>
    <script src="../static/js/scrollreveal.js"></script>
    <script src="../static/js/jquery.magnific-popup.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/creative.js"></script>

  </body>

</html>
