<!DOCTYPE html>
<!--
ここに何か書くの面白いし、趣味が合う人だけへのメッセージになるので、そのうちやりたいとは思っている。
-->
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Wine tips">
    <meta name="keywords" content="Wine">
    <meta name="author" content="shuto">

    <title>Wine tips</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts and fontawesome icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- favicon: icon for iPhone-->
    <link rel="apple-touch-icon" href="../static/img/icon/apple-touch-icon-152x152.png" sizes="152x152">

    <!-- Custom styles for this template -->
    <link href="../static/css/creative.css" rel="stylesheet">

  </head>

  <body>
    <section id="index">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="box1">
              <p class="section-heading">
                <h2 class="index">Index</h4>
                <hr class="my-4">
                <h4 class="index">1. The difference between Red and White</h4>
                <h4 class="index">2. How to choose wine</h4>
                <p><li>Wine's 4 tastes</li></p>
                <p><li>Grape varieties</li></p>
                <p><li>Producing area</li></p>
                <h4 class="index">3. My favorite wines</h4>
                <h4 class="index">4. Reference</h4>
              </p>
            </div>
          </div>

          <div class="col-lg-12 mx-auto text-center">
            <p class="section-heading">
              <h2 class="index">1. The difference between Red and White</h2>
              <hr class="my-4">
              <p>
                Read <a target="_blank" href="https://winefolly.com/tutorial/red-wine-vs-white-wine-the-real-differences/">this</a> web page. There is all I know about the difference between Red and White.
              </p>
            </p>
          </div>

          <div class="col-lg-12 mx-auto text-center">
            <p class="section-heading">
              <h2 class="index">2. How to choose wine</h2>
              <hr class="my-4">
          </div>

          <div class="col-lg-12 mx-auto text-left">
            <p class="section-heading">
              <h4 class="index">・Wine's 4 tastes</h4>
            </p>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-smile-beam text-primary mb-3"></i>
              <h3 class="mb-3">Fruity</h3>
              <p class="text-muted mb-0">
                It is opposite to <b>"Dry."</b> Strongth depends on where the grape grew up.<br>
                New World is strong, and Northern Europe is week.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-grin-beam-sweat text-primary mb-3"></i>
              <h3 class="mb-3">Dry</h3>
              <p class="text-muted mb-0">It is often used when you describe white wine as I said in "Fruity", strongth depends on where the grape grew up.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-meh-rolling-eyes text-primary mb-3"></i>
              <h3 class="mb-3">Acidity</h3>
              <p class="text-muted mb-0">
                It is the most characteristic taste for wine. <b>"Tartaric acid"</b> tastes sharp, contained a lot in white wine, and tastes good when chilled. <b>"Malic acid"</b> tastes mellow, contained a lot in red wine, and tastes good when warm.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-grin-hearts text-primary mb-3"></i>
              <h3 class="mb-3">Astringency</h3>
              <p class="text-muted mb-0">Strongth depends on grape varieties and prices. If we drunk <b>"Cabernet Sauvignon"</b>(strong), <b>"Merlot"</b>(middle), and <b>"Pinot Noir,"</b>(week) we can understand the difference.</p>
            </div>
          </div>

          <div class="col-lg-12 mx-auto text-left">
            <p class="section-heading">
              <h4 class="index">・Grape varieties</h4>
            </p>
          </div>

          <div class="col-lg-12 mx-auto text-left">
            <p class="section-heading">
              <h4 class="index">・Producing area</h4>
            </p>
          </div>

          <div class="col-lg-12 mx-auto text-center">
            <p class="section-heading">
              <h2 class="index">3. My favorite wines</h2>
              <hr class="my-4">
          </div>

          <div class="col-lg-12 mx-auto">
            <p class="section-heading">
              <h2 class="index">4. Reference.</h2>
              <hr class="my-4">
            </p>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a target="_blank" href="https://winefolly.com">
                <img class="center-block img-responsive" src="wine/img/winefolly.jpg" alt="grapes" align="middle" width="80%">
              </a>
              <h3 class="mb-3">WINE FOLLY</h3>
              <p class="text-muted mb-0">
                This web site tells you much and much about wine easily to understand with some images. Click icon above!! There is an amazing world!! ※ I use some pictures from this site.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a target="_blank" href="https://www.amazon.co.jp/男と女のワイン術-日経プレミアシリーズ-伊藤-博之/dp/4532262712">
                <img class="center-block img-responsive" src="wine/img/男と女のワイン術.jpg" alt="grapes" align="middle" width="80%">
              </a>
              <h3 class="mb-3">『男と女のワイン術』</h3>
              <p class="text-muted mb-0">
                This book is for wine beginners, and says wine tips and how to use them to pay court to a woman from a viewpoint of a female.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a target="_blank" href="https://www.amazon.co.jp/ワインの基礎知識―知りたいことが初歩から学べるハンドブック-若生-ゆき絵/dp/440509215X">
                <img class="center-block img-responsive" src="wine/img/ワインの基礎知識.jpg" alt="grapes" align="middle" width="80%">
              </a>
              <h3 class="mb-3">『ワインの基礎知識』</h3>
              <p class="text-muted mb-0">
                This book is plenty of pictures, so you can see grapes, wines, and flows of making wine. I use this as a visual dictionary.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a target="_blank" href="https://www.amazon.co.jp/世界のビジネスエリートが身につける-教養としてのワイン-渡辺-順子/dp/4478106614/ref=pd_lpo_sbs_14_img_1?_encoding=UTF8&psc=1&refRID=48W0CF97VARYJEDGKTQD">
                <img class="center-block img-responsive" src="wine/img/教養としてのワイン.jpg" alt="grapes" align="middle" width="80%">
              </a>
              <h3 class="mb-3">『教養としてのワイン』</h3>
              <p class="text-muted mb-0">
                I bought this, but I have never read yet.
              </p>
            </div>
          </div>


        </div>
        <!-- Back to the lecture page button -->
        <div class="col-lg-8 col-md-10 mx-auto text-center">
          <a href="../index.html" class="btn btn-secondary btn-dark active" role="button" aria-pressed="true">Back to Home</a>
        </div>
      </div>
    </section>

    <section id="contact" class="bg-dark text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Enjoy Wine Life</h2>
            <hr class="my-4">
            <p class="mb-5">
              If you like wine, please let me know about wine.<br>
              I'm lokking for same age wine drinker, and wine bar.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-4 mx-auto text-center">
            <i class="fab fa-twitter fa-3x mb-3 sr-contact-2"></i>
            <p><a href="https://mobile.twitter.com/cabernet_rock">twitter@cabernet_rock</a>
          </div>
          <div class="col-lg-3 col-sm-4 mx-auto text-center">
            <i class="fab fa-github fa-3x mb-3 sr-contact-2"></i>
            <p><a href="https://github.com/iwasakishuto">iwasakishuto</a></p>
          </div>
          <div class="col-lg-3 col-sm-4 mx-auto text-center">
            <i class="fab fa-facebook-square fa-3x mb-3 sr-contact-2"></i>
            <p><a href="https://www.facebook.com/iwasakishuto">Shuto Iwasaki</a></p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.js"></script>
    <script src="../static/js/scrollreveal.js"></script>
    <script src="../static/js/jquery.magnific-popup.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/creative.js"></script>

  </body>

</html>
